.auth__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid aqua;
}
.auth__wrap--content {
  display: flex;
  margin-top: 10px;
}
.auth__wrap--label {
  width: 150px;
}
.auth__wrap--input {
  width: 200px;
}
.auth__wrap--input > input {
  width: 100%;
  height: 100%;
}
.auth__wrap--btn {
  margin-top: 10px;
}

.auth__wrap--submit {
  width: 100%;
}

.auth__wrap--nav {
  margin-top: 50px;
  margin-left: 230px;
  display: flex;
}

.auth__wrap--btn > button {
  transition: all 0.3s;
  background-color: rgba(164, 227, 227, 0.865);
}

.auth__wrap--btn > button:hover {
  background-color: rgba(104, 233, 233, 0.865);
  transform: translate(5px, 5px);
}
